# Mephi-ApplPy-classif_test1
https://www.kaggle.com/c/mephi-applpython-classif-1

Импортируем необходимые библиотеки

In [1]:
import pandas as pd
import numpy as np
import scipy.sparse as sp

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

import matplotlib.pyplot as plt

import pymorphy2
import string

Считываем предоставленные данные

In [2]:
category = pd.read_csv('data/category.csv')

In [21]:
category.head()

   category_id                                               name
0            0                Бытовая электроника|Телефоны|iPhone
1            1                       Бытовая электроника|Ноутбуки
2            2               Бытовая электроника|Телефоны|Samsung
3            3  Бытовая электроника|Планшеты и электронные кни...
4            4  Бытовая электроника|Игры, приставки и программ...

In [4]:
data = pd.read_csv('data/train.csv')

In [22]:
data.head()

,item_id,title,description,price,category_id
0,312862,картина,гобелен размер 139х84см,-0.109743,19
1,339243,стул из прессовать кожа,продать недорого 4 стул из светлый прессовать ...,-0.106235,22
2,6677,домашний минь баня,минь баня мб1минь сауна предназначить для прин...,0.058647,37
3,190544,эксклюзивный коллекция книга трансаэро подарок,продать эксклюзивный коллекция книга выпустить...,-0.067645,43
4,372595,ноутбук aser,продаваться ноутбук acer e5511c2ta купить в ко...,0.142842,1

In [6]:
test = pd.read_csv('data/test.csv')

In [7]:
test.head()

,item_id,title,description,price
0,64124,"Санатории Белоруссии. - ""Лепельский военный""",Санатории Белоруссии! - «Лепельский военный» ...,1090.0
1,446139,Фотохолст,Фотохолст на подрамнике. 36х58см. Галерейная н...,1250.0
2,333280,Стенка для подростков,"Продам детскую/подростковую стенку : шкаф, ком...",20000.0
3,260559,Монитор LG широкоформатный 19,"ЖК-монитор с диагональю 19"" тип матрицы экрана...",2000.0
4,459407,Пакет одежды 44-46р-ра,Продам панет одежды.Юбка длинная из хлопка на ...,300.0

Производим шкалирование единственного числового признака - price

In [8]:
price_mean = data.price.mean()
price_std = data.price.std()

data.price = (data.price - price_mean) / price_std
test.price = (test.price - price_mean) / price_std

Что делаем с текстовыми данными:
- Все встречающиеся слова приводим к нормальной форме
- избавляемся от знаков препинания
- кодируем в вектора через CountVectorizer

In [11]:
def text_normalizer(text, analyzer):
    text = text.translate(text.maketrans('', '', string.punctuation)).lower()
    words = text.split()
    normalized_text = ''
    for word in words:
        p = analyzer.parse(word)[0]
        normalized_text += p.normal_form + ' '
        
    return normalized_text.rstrip()

In [12]:
%%time

morpher = pymorphy2.MorphAnalyzer()

data['title'] = np.vectorize(text_normalizer)(data['title'], morpher)
data['description'] = np.vectorize(text_normalizer)(data['description'], morpher)

test['title'] = np.vectorize(text_normalizer)(test['title'], morpher)
test['description'] = np.vectorize(text_normalizer)(test['description'], morpher)

CPU times: user 1h 17min 55s, sys: 31.9 s, total: 1h 18min 27s
Wall time: 1h 19min 6s

In [23]:
data.head()

,item_id,title,description,price,category_id
0,312862,картина,гобелен размер 139х84см,-0.109743,19
1,339243,стул из прессовать кожа,продать недорого 4 стул из светлый прессовать ...,-0.106235,22
2,6677,домашний минь баня,минь баня мб1минь сауна предназначить для прин...,0.058647,37
3,190544,эксклюзивный коллекция книга трансаэро подарок,продать эксклюзивный коллекция книга выпустить...,-0.067645,43
4,372595,ноутбук aser,продаваться ноутбук acer e5511c2ta купить в ко...,0.142842,1

In [24]:
test.head()

,item_id,title,description,price
0,64124,санаторий белоруссия лепельский военный,санаторий белоруссия «лепельский военный» цена...,-0.108480
1,446139,фотохолст,фотохолст на подрамник 36х58см галерейный натя...,-0.106235
2,333280,стенка для подросток,продать детскуюподростковый стенка шкаф комод ...,0.156874
3,260559,монитор lg широкоформатный 19,жкмонитор с диагональ 19 тип матрица экран tft...,-0.095710
4,459407,пакет одежда 4446рра,продать панета одеждыюбка длинный из хлопок на...,-0.119566

Получаем нашу матрицу признаков

In [14]:
title_vectorizer = CountVectorizer(binary=True)
title_features = title_vectorizer.fit_transform(data.title)

descr_vectorizer = CountVectorizer( binary=True)
description_features = descr_vectorizer.fit_transform(data.description)

features = sp.hstack([title_features, description_features, data[['price']]])

Делим сет на train и test (закрепив random state), производим обучение и оцениваем той же метрикой, что и используется в соревновании

In [15]:
Xtrain, Xval, ytrain, yval = train_test_split(features, data.category_id, 
                                              random_state=648, test_size=0.25)

In [16]:
%%time

clf = LogisticRegression()
clf.fit(Xtrain, ytrain)
y_pred = clf.predict(Xval)

/Users/aapiskotin/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/aapiskotin/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/Users/aapiskotin/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/svm/base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

CPU times: user 27min 18s, sys: 3.41 s, total: 27min 21s
Wall time: 27min 24s

In [17]:
accuracy_score(yval, y_pred)

0.8774232688966715

Получили неплохой скор. Можно сабмитить на кагл.

In [18]:
title_features = title_vectorizer.transform(test.title)
description_features = descr_vectorizer.transform(test.description)


test_features = sp.hstack([title_features, description_features, test[['price']]])

In [19]:
y_pred_test = clf.predict(test_features)

In [20]:
pd.DataFrame({'Id': test.item_id, 'Category':y_pred_test}).to_csv('my_pred.csv', index=None)