# Strange regression mephi-2

https://www.kaggle.com/c/strange-regression-mephi-2

Импортируем необходимые библиотеки

In [1]:
import pandas as pd
import numpy as np
import scipy.sparse as sp

from sklearn.preprocessing import OneHotEncoder

Загружаем данные и начинаем работу с ними

In [2]:
data_train = pd.read_csv("data/kagle_train.csv", parse_dates=['start_time'], index_col='item_id')

In [3]:
data_test = pd.read_csv('data/regr_test.csv', parse_dates=['start_time'])

In [4]:
data_train.sample(5)

,id,start_time,title,price,owner_type,category,subcategory,param1,param2,param3,region,item_views
item_id,,,,,,,,,,,,
5705898845763758734,329407,2016-12-26 17:37:44,Эрго-рюкзак love carry,500,Company,Личные вещи,Товары для детей и игрушки,Игрушки,NaN,NaN,Ивановская область,3.258097
2724359157403861389,91688,2016-12-28 18:16:00,30 от цены. Электронная книга,3800,Private,Бытовая электроника,Планшеты и электронные книги,Электронные книги,NaN,NaN,Самарская область,4.584967
3177615282527920911,350468,2016-12-28 18:10:17,Сапоги замшевые carlo pazolini 39р,5000,Private,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Обувь,39,Красноярский край,3.688879
294337942887387431,94285,2016-12-26 08:02:40,Черепаха в дар,0,Company,Животные,Аквариум,NaN,NaN,NaN,Курская область,3.891820
152786503366182060,344389,2016-12-28 21:38:00,Шикарное платье,1500,Private,Личные вещи,Детская одежда и обувь,Для девочек,Платья и юбки,110-116 см (4-6 лет),Нижегородская область,4.158883

In [5]:
data_test.sample(5)

,id,start_time,title,price,item_id,owner_type,category,subcategory,param1,param2,param3,region
12575,157424,2016-12-26 15:37:06,Мзса-К 233,47402,310997009152403822,Shop,Транспорт,Запчасти и аксессуары,Прицепы,NaN,NaN,Санкт-Петербург
40251,350700,2016-12-28 16:52:34,"Nissan Almera, 2004",265000,2150371097303435466,Company,Транспорт,Автомобили,С пробегом,Nissan,Almera,Краснодарский край
39189,343276,2016-12-27 10:25:38,Магнитола Sony CFD-RG880CP,5000,4183488402914497302,Company,Бытовая электроника,Аудио и видео,"Музыкальные центры, магнитолы",NaN,NaN,Краснодарский край
16893,224337,2016-12-27 15:51:33,Айфон 5 s,13000,5907889794881664344,Private,Бытовая электроника,Телефоны,iPhone,NaN,NaN,Краснодарский край
33120,283950,2016-12-28 16:41:03,Дом 54 м? на участке 6 сот.,3750000,6496950207402085953,Shop,Недвижимость,"Дома, дачи, коттеджи",Продам,Дом,NaN,Калужская область

## Выделяем признаки:
- количество заглавных букв
- количество "!"
- плотность заглавных букв и '!'
- количество латинских символов
- длина заголовка
- количество цифр
- для текста:
    - избавляемся от пунктуации
    - нормализуем слова
    - Генерируем CountVectorized
- Время:
    - вводим гармонические функции
    - выделяем день недели

In [6]:
def count_uppercase(text):
    counter = 0
    for c in text:
        if c.isupper():
            counter += 1
            
    return counter

In [7]:
def count_exclaim_mark(text):
    counter = 0
    for c in text:
        if c == '!':
            counter += 1
            
    return counter

In [8]:
import re

english_check = re.compile(r'[a-z]')

def count_eng(text):
    counter = 0
    for c in text:
        if english_check.match(c):
            counter += 1
            
    return counter

In [9]:
def count_digits(text):
    counter = 0
    for c in text:
        if c.isdigit():
            counter += 1
            
    return counter

In [10]:
def make_harmonic_features(value, period=24):
    value = (value / period) * 2 * np.pi
    return np.cos(value), np.sin(value)

In [11]:
import pymorphy2 as morphy
import string
from functools import lru_cache

morpher = morphy.MorphAnalyzer()

In [12]:
@lru_cache(maxsize=100000)
def get_normal_form (word):
    return morpher.normal_forms(word)[0]

In [13]:
def text_normalizer(text):
    text = text.translate(str.maketrans(string.punctuation, ' ' * len(string.punctuation))).lower()
    words = text.split()
    normalized_text = ''
    for word in words:
        normalized_text += get_normal_form(word) + ' '
        
    return normalized_text.rstrip()

In [14]:
title_features_columns = ['title_uc_!', 'title_uc_!_density', 'title_eng_count', 'title_len', 'title_digits', 'price']

In [15]:
def feature_engineering(df):

    df['title_uc'] = df['title'].apply(count_uppercase)
    df['title_!'] = df['title'].apply(count_exclaim_mark)
    df['title_len'] = df['title'].apply(len)
    df['title_uc_!_density'] = (
        df['title_!'] + df['title_uc']) / df['title_len']
    df['title_eng_count'] = df['title'].apply(count_eng)
    df['title_digits'] = df['title'].apply(count_digits)

    df['title'] = df['title'].apply(text_normalizer)

    df['cos_time'] = df['start_time'].apply(
        lambda x: make_harmonic_features(x.hour + x.minute / 60)[0])
    df['sin_time'] = df['start_time'].apply(
        lambda x: make_harmonic_features(x.hour + x.minute / 60)[1])
    df['week_day'] = df['start_time'].apply(lambda x: x.isoweekday())

In [16]:
from multiprocessing import Pool

In [17]:
%%notify
%%time

feature_engineering(data_train)
feature_engineering(data_test)

CPU times: user 43.2 s, sys: 539 ms, total: 43.7 s
Wall time: 43.2 s

In [18]:
data_train.sample(5)

,id,start_time,title,price,owner_type,category,subcategory,param1,param2,param3,...,item_views,title_uc,title_!,title_len,title_uc_!_density,title_eng_count,title_digits,cos_time,sin_time,week_day
item_id,,,,,,,,,,,,,,,,,,,,,
1309549113739414186,420959,2016-12-28 12:51:46,костюм зайчик,300,Private,Личные вещи,Детская одежда и обувь,Для мальчиков,Другое,NaN,...,2.197225,1,0,14,0.071429,0,0,-0.975342,-0.220697,3
4646568112782400045,193156,2016-12-27 11:33:34,careprost карепростой средство для рост ресница,499,Company,Личные вещи,Красота и здоровье,Косметика,NaN,NaN,...,3.258097,2,0,45,0.044444,8,0,-0.993068,0.117537,2
7862540303658390749,255690,2016-12-27 08:00:14,комбинированный шкаф,6000,Private,Для дома и дачи,Мебель и интерьер,Шкафы и комоды,NaN,NaN,...,3.988984,1,0,20,0.050000,0,0,-0.500000,0.866025,2
8504803093208293554,326140,2016-12-27 10:21:05,подарок на новый год,2500,Private,Животные,Собаки,Той-терьер,NaN,NaN,...,4.997212,1,0,20,0.050000,0,0,-0.908143,0.418660,2
7161057183813830709,351997,2016-12-26 06:17:07,вечерний платье,500,Private,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Платья и юбки,44–46 (M),...,2.833213,1,0,15,0.066667,0,0,-0.074108,0.997250,1