# Strange regression mephi-2

https://www.kaggle.com/c/strange-regression-mephi-2

Импортируем необходимые библиотеки

In [62]:
import pandas as pd
import numpy as np
import scipy.sparse as sp

import matplotlib.pyplot as plt

Загружаем данные и начинаем работу с ними

In [2]:
data_train = pd.read_csv("data/kagle_train.csv", parse_dates=['start_time'], index_col='item_id')

In [3]:
data_test = pd.read_csv('data/regr_test.csv', parse_dates=['start_time'])

In [4]:
data_train.sample(5)

,id,start_time,title,price,owner_type,category,subcategory,param1,param2,param3,region,item_views
item_id,,,,,,,,,,,,
3075035036656065919,186249,2016-12-26 11:59:27,Продаются зимние сапоги 33 размера,1000,Private,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,33,Москва,2.708050
1794983267669201651,214401,2016-12-27 17:46:10,"Офисное помещение, 10624 м?",745000000,Shop,Недвижимость,Коммерческая недвижимость,Продам,Офисное помещение,NaN,Москва,3.433987
1443121548946474157,158646,2016-12-27 14:06:22,Phone 4s,6500,Company,Бытовая электроника,Телефоны,iPhone,NaN,NaN,Краснодарский край,4.672829
7817451974881978690,89902,2016-12-26 08:13:40,Модем МТС с wi-fi,2000,Private,Бытовая электроника,Товары для компьютера,Сетевое оборудование,NaN,NaN,Москва,2.890372
6593447580407155572,224793,2016-12-27 09:03:44,Tag Heuer Aquaracer Chronotimer 43 mm,72000,Company,Личные вещи,Часы и украшения,Часы,NaN,NaN,Москва,4.753590

In [5]:
data_test.sample(5)

,id,start_time,title,price,item_id,owner_type,category,subcategory,param1,param2,param3,region
41440,133579,2016-12-27 10:23:13,"Peugeot 206, 2008",229000,8679363650664367011,Company,Транспорт,Автомобили,С пробегом,Peugeot,206,Краснодарский край
18671,216687,2016-12-28 17:44:40,Комплект ханкок Winter IxPike W409 205/60R16,13000,941255576028269836,Shop,Транспорт,Запчасти и аксессуары,"Шины, диски и колёса",Шины,16,Санкт-Петербург
3452,360849,2016-12-27 02:07:38,Лосины,500,5673174489337185325,Private,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Брюки,40–42 (XS),Краснодарский край
5797,71594,2016-12-27 12:15:03,Hermes,2500,4157458661292731857,Company,Личные вещи,Красота и здоровье,Парфюмерия,NaN,NaN,Москва
7065,280089,2016-12-27 21:49:47,"2-к квартира, 45 м?, 2/5 эт.",2250000,537934859037013954,Company,Недвижимость,Квартиры,Продам,2,Вторичка,Коми

## Работа с текстом('title'):
- считаем заглавные буквы и '!'
- плотность заглавных букв и '!'
- считаем латинские символы
- считаем длину
- считаем цифры
- нормализуем полученные числовые признаки
- избавляемся от пунктуации
- нормализуем слова
- Генерируем CountVectorized

In [6]:
def count_uppercase_and_spec_marks(text):
    counter = 0
    for c in text:
        if c.isupper() or c == '!':
            counter += 1
            
    return counter

In [7]:
data_train['title_uc_!'] = np.vectorize(count_uppercase_and_spec_marks)(data_train['title'])
data_test['title_uc_!'] = np.vectorize(count_uppercase_and_spec_marks)(data_test['title'])

In [8]:
data_train['title_uc_!_density'] = data_train['title_uc_!'] / data_train['title'].apply(len)
data_test['title_uc_!_density'] = data_test['title_uc_!'] / data_test['title'].apply(len)

In [9]:
import re

english_check = re.compile(r'[a-z]')

def count_eng(text):
    counter = 0
    for c in text:
        if english_check.match(c):
            counter += 1
            
    return counter

In [10]:
data_train['title_eng_count'] = data_train['title'].apply(count_eng)
data_test['title_eng_count'] = data_test['title'].apply(count_eng)

In [11]:
data_train['title_len'] = data_train['title'].apply(len)
data_test['title_len'] = data_test['title'].apply(len)

In [12]:
def count_digits(text):
    counter = 0
    for c in text:
        if c.isdigit():
            counter += 1
            
    return counter

In [13]:
data_train['title_digits'] = data_train['title'].apply(count_digits)
data_test['title_digits'] = data_test['title'].apply(count_digits)

In [14]:
title_features_columns = ['title_uc_!', 'title_uc_!_density', 'title_eng_count', 'title_len', 'title_digits', 'price']

Заодно отшкалируем цену

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

title_num_features_train = scaler.fit_transform(data_train.loc[:, title_features_columns])
title_num_features_test = scaler.transform(data_test.loc[:, title_features_columns])

/Users/aapiskotin/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/aapiskotin/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/aapiskotin/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [16]:
import pymorphy2 as morphy
import string
from functools import lru_cache

morpher = morphy.MorphAnalyzer()

In [17]:
@lru_cache(maxsize=100000)
def get_normal_form (word):
    return morpher.normal_forms(word)[0]

In [18]:
def text_normalizer(text):
    text = text.translate(str.maketrans(string.punctuation, ' ' * len(string.punctuation))).lower()
    words = text.split()
    normalized_text = ''
    for word in words:
        normalized_text += get_normal_form(word) + ' '
        
    return normalized_text.rstrip()

In [19]:
from multiprocessing import Pool

In [20]:
%%time
with Pool(processes=4) as pool:
    data_train['title'] = pool.map(text_normalizer, data_train.title)
    data_test['title'] = pool.map(text_normalizer, data_test.title)
    pool.terminate()

CPU times: user 681 ms, sys: 224 ms, total: 906 ms
Wall time: 19.4 s

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

title_proc = CountVectorizer()

train_title_counted = title_proc.fit_transform(data_train['title'])
test_title_counted = title_proc.transform(data_test['title'])

In [22]:
title_features_train = sp.hstack((train_title_counted, title_num_features_train))
title_features_test = sp.hstack((test_title_counted, title_num_features_test))

## Время:
- вводим гармонические функции
- выделяем день недели

In [23]:
def make_harmonic_features(value, period=24):
    value = (value / period) * 2 * np.pi
    return np.cos(value), np.sin(value)

data_train['cos_time'] = data_train.start_time.apply(lambda x: make_harmonic_features(x.hour + x.minute / 60)[0])
data_train['sin_time'] = data_train.start_time.apply(lambda x: make_harmonic_features(x.hour + x.minute / 60)[0])

data_test['cos_time'] = data_test.start_time.apply(lambda x: make_harmonic_features(x.hour + x.minute / 60)[0])
data_test['sin_time'] = data_test.start_time.apply(lambda x: make_harmonic_features(x.hour + x.minute / 60)[0])

data_train['week_day'] = data_train.start_time.apply(lambda x: x.isoweekday())
data_test['week_day'] = data_test.start_time.apply(lambda x: x.isoweekday())

In [24]:
time_harmonic_features_train = scaler.fit_transform(data_train.loc[:, ['cos_time', 'sin_time']])
time_harmonic_features_test = scaler.transform(data_test.loc[:, ['cos_time', 'sin_time']])

In [25]:
from sklearn.preprocessing import OneHotEncoder

oh_encoder = OneHotEncoder()

time_week_feature_train = oh_encoder.fit_transform(np.array(data_train['week_day']).reshape(-1, 1))
time_week_feature_test = oh_encoder.transform(np.array(data_test['week_day']).reshape(-1, 1))

/Users/aapiskotin/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [26]:
time_features_train = sp.hstack((time_harmonic_features_train, time_week_feature_train))
time_features_test = sp.hstack((time_harmonic_features_test, time_week_feature_test))

## Все категориальные признаки => OneHot
предварительно избавившись от NaN

paramN придется выкинуть, т.к. в тесте в данных колонках встречаются категории, которых нет в трейне

In [29]:
cat_features = ['owner_type', 'category', 'subcategory', 'region']

In [30]:
cat_features_train = oh_encoder.fit_transform(data_train.loc[:, cat_features])
cat_features_test = oh_encoder.transform(data_test.loc[:, cat_features])

## Финиш
Конкатенируем все признаки, обучаем модель

In [31]:
X = sp.hstack((title_features_train, time_features_train, cat_features_train))
X_test = sp.hstack((title_features_test, time_features_test, cat_features_test))
y = data_train['item_views']

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y)

### Протестируем различные модели:

1) Линейная регрессия

In [42]:
%%time
from sklearn.linear_model import LinearRegression

lin_regr = LinearRegression()
lin_regr.fit(X_train, y_train)
y_hat = lin_regr.predict(X_val)

CPU times: user 5min 25s, sys: 6.03 s, total: 5min 31s
Wall time: 2min 59s

In [43]:
from sklearn.metrics import mean_squared_error, r2_score

In [44]:
r2_score(y_val, y_hat)

0.5545557059332746

In [45]:
np.sqrt(mean_squared_error(y_val, y_hat))

0.6803039318710696

2) Дерево решений

In [49]:
%%time
from sklearn.tree import DecisionTreeRegressor

tree_regr = DecisionTreeRegressor()
tree_regr.fit(X_train, y_train)
y_hat = tree_regr.predict(X_val)

CPU times: user 14min 27s, sys: 6.72 s, total: 14min 34s
Wall time: 15min 15s

In [50]:
r2_score(y_val, y_hat)

0.3871530853409675

In [51]:
np.sqrt(mean_squared_error(y_val, y_hat))

0.7979621336598043

3) KNN

In [55]:
%%time
from sklearn.neighbors import KNeighborsRegressor

knn_regr = KNeighborsRegressor()
knn_regr.fit(X_train, y_train)

CPU times: user 52.6 ms, sys: 45.1 ms, total: 97.7 ms
Wall time: 70.3 ms

In [56]:
y_hat = knn_regr.predict(X_val)

In [57]:
r2_score(y_val, y_hat)

0.5427845021585207

In [58]:
np.sqrt(mean_squared_error(y_val, y_hat))

0.6892340940198036

# Сабмит

In [59]:
y_pred = knn_regr.predict(X_test)

In [61]:
pd.DataFrame({'id': data_test.id, 'item_views':y_pred}).to_csv('my_pred.csv', index=None)